<<%= form_for(@cocktail) do |f| %>
<% if f.object.errors.present? %>
<ul>
  <% f.object.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
